body {
    background-image: url("images/body_background.jpg");
    background-repeat: repeat;
}

#head {
    margin: auto;
    width: 1010px;
    height: 130px;
}

#logo {
    height: 100px;
    display: inline-block;
    position: relative;
    top: 15px;
}

#logo-text {
    margin-top: 10px;
    line-height: 120px;
    font-size: 100px;
    font-family: "Brush Script MT", serif;
    color: white;
}

#game {
    margin: auto;
    width: 1010px;
    height: 1010px;
    box-shadow: 2px 2px 4px 10px #000000;
}

#board {
    position: absolute;

    width: 1010px;
    height: 1010px;
    background-image: url("images/black_marble2.png");
}

#top-border {
    position: absolute;
    top: 0px;
    left: 0px;

    width: 1010px;
    height: 100px;
}

#left-border {
    position: absolute;
    top: 100px;
    left: 0px;

    width: 100px;
    height: 905px;

    padding-top: 5px;
}

#game-board {
    position: absolute;
    top: 100px;
    left: 100px;

    width: 800px;
    height: 800px;
    background-color: darkgray;
    border: 5px solid darkgoldenrod;
}

#right-border {
    position: absolute;
    top: 100px;
    left: 910px;

    width: 100px;
    height: 910px;
}

#bottom-border {
    position: absolute;
    top: 910px;
    left: 100px;

    width: 800px;
    height: 100px;
}

.tile {
    width: 100px;
    height: 100px;

    float: left;

    text-align: center;
}

.tile.black {
    background-color: black;
    background-image: url("images/black_marble.jpg");
}

.tile.white {
    background-color: white;
    background-image: url("images/white_marble.jpg");
}

.row-7 > .tile {
    background-position-y: 100px;
}

.row-6 > .tile {
    background-position-y: 200px;
}

.row-5 > .tile {
    background-position-y: 300px;
}

.row-4 > .tile {
    background-position-y: 400px;
}

.row-3 > .tile {
    background-position-y: 500px;
}

.row-2 > .tile {
    background-position-y: 600px;
}

.row-1 > .tile {
    background-position-y: 700px;
}

.column-b {
    background-position-x: 100px;
}

.column-c {
    background-position-x: 200px;
}

.column-d {
    background-position-x: 300px;
}

.column-e {
    background-position-x: 400px;
}

.column-f {
    background-position-x: 500px;
}

.column-g {
    background-position-x: 600px;
}

.column-h {
    background-position-x: 700px;
}

.label {
    font-family: Arial, serif;
    color: goldenrod;
    font-size: 18px;
    font-weight: bold;
    line-height: 100px;
}

.piece {
    width: 100px;
    height: 100px;
    background-image: url("images/chess_sprite.png");
    background-size: 600px 200px;
}

.piece.black {
    background-position-y: -100px;
}

.piece.queen {
    background-position-x: -100px;
}

.piece.bishop {
    background-position-x: -200px;
}

.piece.knight {
    background-position-x: -300px;
}

.piece.rook {
    background-position-x: -400px;
}

.piece.pawn {
    background-position-x: -500px;
}